<div class="card-body">
    <h4 class="card-title">Default form</h4>
    <p class="card-description">
      Basic form layout
    </p>
    <form class="forms-sample"  [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputUsername1">nom</label>
        <input type="text" class="form-control" id="exampleInputUsername1" formControlName="nom" >
      </div>
      <button type="submit" class="btn btn-primary me-2">Ajouter</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>