<div class="table-responsive">
    <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          [(ngModel)]="term"/>
      </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            id
          </th>
          <th>
            Username
          </th>
          <th>
            email
          </th>
          <th>
            date de naissance
          </th>
          <th>
            image
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of Clients | rechercheEmail :term | paginate: { itemsPerPage: 5, currentPage: p}">
            <th scope="row">{{c.id}}</th>
          <td>
           {{c.username}}
          </td>
          <td>
        {{c.email}}
          </td>
          <td>
          {{c.date_de_naissance}}
          </td>
          <td>
            <img src="http://localhost:8090/client/files/{{c.image}}" class="img-fluid img-thumbnail" alt="Sheep">  
          </td>
          <td>
            <button type="button"  (click)="delete(c.id)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>