<div class="container-scroller">
 
    <!-- partial:partials/_navbar.html -->
   <app-navbar [variableChildren]="variableParent" (nomEvent)="nomFonctionParent()" ></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
    <app-skins></app-skins>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
     <app-sidebar></app-sidebar>
      <!-- partial -->
      <div class="main-panel">

        <div class="content-wrapper">
          <div class="row">
        <router-outlet></router-outlet>

        <!-- <app-layout></app-layout>  -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

          </div>
        </div>
     <app-footer></app-footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
