<div class="card-body">
    <h4 class="card-title">Default form</h4>
    <p class="card-description">
      Basic form layout
    </p>
    <form class="forms-sample" [formGroup]="form"  (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputUsername1">nom</label>
        <input type="text" class="form-control" id="exampleInputUsername1" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">company</label>
        <input type="text" class="form-control" id="exampleInputEmail1"formControlName="company" >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">date de naissance</label>
        <input type="text" class="form-control" id="exampleInputPassword1"formControlName="date_de_naissance" >
      </div>

      <div class="form-check form-check-flat form-check-primary">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Remember me
        <i class="input-helper"></i></label>
      </div>
      <button type="submit" class="btn btn-primary me-2">Ajouter</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>