<div class="card-body">
    <h4 class="card-title">Ajouter un client</h4>
    <p class="card-description">
   
    </p>
    <form class="forms-sample" [formGroup]="form"  (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputUsername1">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername1" formControlName="username">
        <div style="color:red;" *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched || (submitted && form.get('username')?.hasError('required'))
        " class="alert alert-danger">
          name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleSelectGender">Gender</label>
          <select class="form-control" id="exampleSelectGender" formControlName="id_produit"  >
            <option *ngFor="let produit of produits " value="{{produit.id}}"  > {{produit.reference}}</option>
          </select>
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
        <div style="color:red;" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched || (submitted && form.get('email')?.hasError('required'))
        " class="alert alert-dang   er">
          email  is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">date de naissance</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="date_de_naissance">
        <div style="color:red;" *ngIf="form.get('date_de_naissance')?.hasError('required') && form.get('date_de_naissance')?.touched || (submitted && form.get('date_de_naissance')?.hasError('required'))
        " class="alert alert-danger">
         date de naissance is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        <div style="color:red;" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched || (submitted && form.get('password')?.hasError('required'))
        " class="alert alert-danger">
          password is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">image</label>
        <input class="form-control" type="file" name="file" (change)="handleFileInput($event)">
      </div>
      <div class="form-check form-check-flat form-check-primary">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Remember me
        <i class="input-helper"></i></label>
      </div>
      <button type="submit" class="btn btn-primary me-2">Ajouter</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>