<div class="card-body">
    <h4 class="card-title">Basic Table</h4>
    <p class="card-description">
      Add class <code>.table</code>
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID </th>
            <th>Nom</th>
            <th>Company</th>
            <th>date de naissance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of Fournisseur">
            <th scope="row">{{a.id}}</th>
            <td>{{a.nom}}</td>   
            <td>{{a.company}}</td>
            <td>{{a.date_de_naissance}}</td>
            <td>
              <button type="button"  (click)="delete(a.id)">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>