<div class="card-body">
    <h4 class="card-title">Striped Table</h4>
    <p class="card-description">
      Add class <code>.table-striped</code>
    </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              id
            </th>
            <th>
              Reference
            </th>

            <th>
              Amount
            </th>
            <th>
              Quantity
            </th>
            <th>
              Color
            </th>
            <th>
             categorie
            </th>
            <th>
            fournisseur
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of Produit">
            <td class="py-1">
                {{x.id}}
            </td>
            <td>
                {{ x.reference }}
            </td>
          
            <td>
              ${{ x.prix }}
            </td>
            <td>
                {{ x.quantity }}
            </td>
            <td>
                {{ x.color}}
              </td>
              <td>
                {{x.categorie.nom}}
              </td>
              <td>
                {{x.fournisseur.nom}}
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>