<div class="card-body">
    <h4 class="card-title">Default form</h4>
    <p class="card-description">
      Basic form layout
    </p>
    <form class="forms-sample"  [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputUsername1">Reference</label>
        <input type="text" class="form-control" id="exampleInputUsername1" formControlName="reference" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Amount</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="prix" >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Quantity</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="quantity" >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Color</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="color" >
      </div>
      
      <div class="form-group">
        <label for="exampleInputPassword1">fournisseur</label>
        <select class="form-control" id="exampleSelectGender" formControlName="id_fournisseur"  >
          <option *ngFor="let f of fournisseur " value="{{f.id}}"  > {{f.nom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputConfirmPassword1">categorie</label>
        <select class="form-control" id="exampleSelectGender" formControlName="id_categorie"  >
          <option *ngFor="let c of categorie " value="{{c.id}}"  > {{c.nom}}</option>
        </select>
      </div>
  
      <div class="form-check form-check-flat form-check-primary">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Remember me
        <i class="input-helper"></i></label>
      </div>
      <button type="submit" class="btn btn-primary me-2">Ajouter</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>
   